/* Body */
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-image: url("../img/mainimg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensures full height */
}

/* Header */
header {
  background: #ffaaf4;
  color: #ffffff;
  padding: 10px;
  min-height: 20px;
  font-size: 30px;
  border-bottom: #ff1569 5px solid;
  text-align: center;
  border-radius: 15px;
}

#branding h1 {
  margin: 0;
}

/* Showcase */
iframe {
  position: absolute;
  bottom: 5%; /* Adjusted for better positioning */
  left: 50%; /* Centered horizontally */
  transform: translateX(-50%);
  height: auto; /* Adjusted for better responsiveness */
  max-width: 90%; /* Adjusted for better responsiveness */
}

#showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Adjusted for better positioning */
}

#showcase h3 {
  font-size: 3.5vw; /* Responsive font size */
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Media Queries for Mobile Phones */
@media only screen and (max-width: 768px) {
  header {
    font-size: 24px; /* Adjusted font size for smaller screens */
  }

  #showcase {
    height: auto; /* Reset height for better display on mobile */
    padding: 20px; /* Add padding for better spacing on mobile */
  }

  #showcase h3 {
    font-size: 5vw; /* Responsive font size for smaller screens */
  }
}
